<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Classrooms list</title>
</head>

<body>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'homepage' %}">Home</a>
        </li>
    </ul>


    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Capacity</th>
                <th scope="col">Building</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for classroom in classrooms %}
            <tr>
                <td>{{classroom.code}}</td>
                <td>{{classroom.capacity}}</td>
                <td>{{classroom.building}}</td>
                <td> <a href="{% url 'classroom_edit' classroom.id %}"> <button type="button" class="btn btn-primary">Edit </button></a></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

    <a href="{% url 'homepage' %}"> <button type="button" class="btn btn-info">Back </button></a>
