<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Edit classroom</title>
</head>

<body>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'homepage' %}">Home</a>
        </li>
    </ul>
    <div class="card">
        <div class="card-header">
            Edit classroom
        </div>
        <div class="card-body">
            <form action="{% url 'student_edit' form.instance.id %}" method="POST">
                {% csrf_token %}
                {{form.as_ul}}
                <input type="submit" value="Save">
            </form>
        </div>
    </div>

    <a href="{% url 'classrooms' %}"> <button type="button" class="btn btn-info">Back </button></a>
