<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Welcome!</title>
</head>



<div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
        <h5 class="card-title">Welcome on EDISON!</h5>
        <p class="card-text">Information system for students and teachers</p>
        <a href="{% url 'students' %}" class="btn btn-primary">Students list</a>
        <a href="{% url 'teachers' %}" class="btn btn-primary">Teachers list</a>
        <a href="{% url 'classrooms' %}" class="btn btn-primary">Classrooms list</a>
    </div>
</div>

<img src="https://www.vysokeskoly.cz/uploads/2020/04/fei-vsb-tuo1.jpg" class="rounded mx-auto d-block" alt="...">

