<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Subjects list</title>
</head>

<body>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'homepage' %}">Home</a>
        </li>
    </ul>
    <div class="card">
        <div class="card-header">
            Subjects list
        </div>


        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Semester</th>
                    <th scope="col">Year</th>
                    <th scope="col">Name</th>
                    <th scope="col">Points</th>
                    <th scope="col"></th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>
                {% for subject in subjects %}
                <tr>
                    <td>{{subject.semester}}</td>
                    <td>{{subject.year}}</td>
                    <td>{{subject.subject}}</td>
                    <td>{{subject.points}}</td>
                    <td>{{subject.is_passed}}</td>
                    <td> <a href="{% url 'subject_edit' subject.id %}"> <button type="button" class="btn btn-primary">Edit </button></a></td>

                </tr>
                {% endfor %}

            </tbody>
        </table>

        <a href="{% url 'students' %}"> <button type="button" class="btn btn-info">Back </button></a>
