<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Subjects list</title>
</head>

<body>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'homepage' %}">Home</a>
        </li>
    </ul>
    <div class="card">
        <div class="card-header">
            Subjects list
        </div>


        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Credits</th>
                    <th scope="col">Way of complete</th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>
                {% for subject in subjects %}
                <tr>
                    <td>{{subject.short_name}}</td>
                    <td>{{subject.name}}</td>
                    <td>{{subject.credits}}</td>
                    <td>{{subject.way_of_complete}}</td>
                    <td> <a href="{% url 'teacher_subject_edit' subject.id %}"> <button type="button" class="btn btn-primary">Edit </button></a></td>

                </tr>
                {% endfor %}

            </tbody>
        </table>

        <a href="{% url 'teachers' %}"> <button type="button" class="btn btn-info">Back </button></a>
