<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Teachers list</title>
</head>

<body>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'homepage' %}">Home</a>
        </li>
    </ul>
    <div class="card">
        <div class="card-header">
            Teachers list
        </div>
        <div class="card-body">
            <form action="{% url 'teachers' %}" method="POST">

                <table>
                    {% csrf_token %}
                    {{form.as_p}}
                </table>
                <input type="submit" value="Find">
                <td> <a href="{% url 'teachers' %}"> <button type="button" style="height:35px" class="btn btn-secondary">Reset </button></a></td>

            </form>
        </div>
    </div>


    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Login</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Email</th>
                <th scope="col">Department</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for teacher in teachers%}
            <tr>
                <td>{{teacher.login}}</td>
                <td>{{teacher.first_name}}</td>
                <td>{{teacher.last_name}}</td>
                <td>{{teacher.email}}</td>
                <td>{{teacher.department}}</td>
                <td> <a href="{% url 'teacher_edit' teacher.id %}"> <button type="button" class="btn btn-primary">Edit </button></a></td>
                <td> <a href="{% url 'teacher_subjects' teacher.id %}"> <button type="button" class="btn btn-primary">Subjects </button></a></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

    <a href="{% url 'homepage' %}"> <button type="button" class="btn btn-info">Back </button></a>
